@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html{
	height: 100%;
}
body{
    margin: 0;
	/*background: url('cogs2.jpg'); '/assets/images/cogs-background.jpg'  no-repeat 50% 50%;*/
	background: url('/assets/images/cogs-background.jpg');
	background-size: cover;
	height: 100%;
	font-family: 'Montserrat';

	height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#topBar{
	background: #404040;
	color: #E68502;
	font-size: 200%;
	display: flex;
	border-bottom: 3px solid;
}
.topBarComponent{
	width: 25%;
	padding: 5px 10px;
	border-left: 3px groove #E68502;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
#studentName{
	border-left: none;
}
#classCode{
	overflow: auto;
}
#logo{
	width: 20px;
	height: 20px;
}

#questionSpace{
	margin: auto;
	margin-top: 15px;
	background: #cccccc;
	padding: 10px 30px;
	text-align: left;
	border: 3px solid;
	border-radius: 5px;
	width: 76%;
	overflow: auto;
}

#answerBox{
	display: flex;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 70px; /* Added */
	width: 80%;
	text-align: center;
	background: white;
	border: 3px solid;
	border-radius: 5px;
	height: 69%;
}
#toolBar{
	width: 105px;
	height: 100%;
	background: #404040;
}
.toolbarPanel{
	width: 100%;
	border-bottom: 3px groove grey;
}
.toolbarPanelDescriptor{
	font-size: 10px;
	text-decoration: underline;
	color: white;
}
.toolbarButton{
	width: 70px;
	height: 20px;
	border: 3px solid;
	border-radius: 90px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: all 0.5s;
	padding-top: 7px;
	color: white;
	text-decoration: none;
}
.toolbarButton:hover{
	cursor: pointer;
}
.inputMethodButton{
	background: #003366;
}
.inputMethodButton:hover{
	background: #0066cc
}
.inputMethodButton.active{
	background: #3399ff;
}
#submitAnswerButton{
	background: #cc5200;
}
#submitAnswerButton:hover{
	background: #ff8c1a
}
.responseArea{
	padding: 10px;
	border-left: 3px solid;
	font-size: 20px;
}

#colourBar{
	display: flex;
	border-top: 3px solid;
	height: 5%;
	width: 100%;
	bottom: 0;
	position: fixed;
}
#colourBarRed{
	background: red;
}
#colourBarAmber{
	background: #ffd11a;
}
#colourBarGreen{
	background: green;
	border-left: none;
}
.colourBarComponent{
	width: 33.333%;
	border-left: 2px solid;
}
