html{
height: 100%;
}

body{
	margin: 0;
	height: 100%;
}

#wb_tools{
	background: lightgray;
	border: 3px black;
	height: 10%;
	width: 100%;
	display: flex;
}
.tool_set{
	border-right: 2px groove;
	display: flex;
}

.colour_change{
	border: 2px black;
	border-radius: 50%;
	height: 100%;
	width: 70px;
}
#black{
	background: black;
}
#red{
	background: #FF0000;
}
#green{
	background: #00FF00;
}
#blue{
	background: #0000FF;
}
#white{
	background: white;
}

.size_change{
	background: black;
	border-radius: 50%;
	height: 100%;
	width: 70px;
}

#whiteboard{
	height: 90%;
	width: 100%;
	padding: 0;
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}